<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body class="container">
        <header>
            <%- include('../partials/header', {active: 'wallet'}); %>
        </header>
        <main>
            <div class="jumbotron">
                <h1><span class="badge bg-warning">Wallet</span></h1>
                <p>
                    <span class="badge bg-primary">BTC: <%= prices.BTC %></span>
                    <span class="badge bg-secondary">ETH: <%= prices.ETH %></span>
                    <span class="badge bg-success">BNB: <%= prices.BNB %></span>
                </p>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</td>
                            <th>Currency</td>
                            <th>USDT</td>
                            <th>Amount ($/USDT)</td>
                            <th>Orders ($/USDT)</td>
                            <th>Total ($/USDT)</td>
                        </tr>
                    </thead>
                    <tbody>
                    <% balances.forEach((balance, index) => { %>
                        <tr>
                            <td><%= index+1 %></td>
                            <td><%= balance.symbol %></td>
                            <td><%= balance.symbolUSD %></td>
                            <td><%= balance.available.amount %> / <%= balance.available.amountUSD %></td>
                            <td><%= balance.order.amount %> / <%= balance.order.amountUSD %></td>
                            <td><%= balance.total.amount %> / <%= balance.total.amountUSD %></td>
                        </tr>
                    <% }) %>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>#</td>
                            <th>-</td>
                            <th>-</td>
                            <th><%= totalBalances.available %></td>
                            <th><%= totalBalances.order %></td>
                            <th><%= totalBalances.total %></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </main>
        <footer>
            <%- include('../partials/footer'); %>
        </footer>
    </body>
</html>